@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
button {
  border: transparent;
  outline: transparent;
  cursor: pointer;
}
body {
  color: #000;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
/* common */
.container {
  max-width: 1110px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.hidden {
  overflow: hidden;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  width: 100%;
  height: 48px;
  background: #faaa00;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
/* main */
.header {
  padding-top: 15px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link-video {
  display: inline-block;
  margin-left: 45px;
}
.logo {
  max-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  background: url("../images/main.png") no-repeat right bottom;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.main__title {
  max-width: 260px;
  width: 100%;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 20px;
}
.main__text {
  max-width: 440px;
  width: 100%;
  margin-bottom: 10px;
}
.main__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}
.main__content {
  height: 32vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__content-right-img {
  max-width: 50vw;
  margin-top: -10vh;
}
.main__btn {
  margin-top: 30px;
}
/* slider */
.slider-wrap {
  display: flex;
  align-items: center;
  height: 100vh;
}

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.slider__item {
  width: 20%;
  transition: all 700ms ease-in-out;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.slider__item_active {
  width: 40%;
}
.slider__content {
  position: absolute;
  bottom: 50px;
  right: 100%;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.slider__item_active .slider__content {
  left: 80px;
  opacity: 1;
  width: 100%;
}

.slider__content-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 25px;
}
.slider__content-text {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  max-width: 410px;
  margin-bottom: 25px;
}
.slider__item-one {
  background: url("../images/4.jpg");
  background-size: cover;
  background-position: center;
}

.slider__item-two {
  background: url("../images/2.jpg") no-repeat;
  background-size: cover;
}

.slider__item-three {
  background: url("../images/3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.slider__item-four {
  background: url("../images/1.jpg") no-repeat;
  background-size: cover;
}
/* Description */
.description {
  padding-top: 80px;
}
.description__wrap {
  display: flex;
  justify-content: space-between;
  /* background: url("../images/description_bg.png") no-repeat left bottom; */
}
.description__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.description__left {
  max-width: 42%;
  width: 100%;
}
.description__left-title {
  max-width: 360px;
  margin-bottom: 30px;
}
.description__right {
  max-width: 55%;
  width: 100%;
}
.description__count {
  display: flex;
  justify-content: space-between;
  background: url("../images/count_bg.png") no-repeat;
  background-size: cover;
  padding: 25px 15px;
  margin-bottom: 20px;
}
.description__count-img {
  max-width: 30%;
}
.description__structure {
  background: url("../images/structure.png") no-repeat;
  padding: 25px 20px;
  border-radius: 10px;
}
.description__structure-title {
  margin-bottom: 30px;
}
.description__structure-flex {
  display: flex;
  justify-content: space-between;
}
.description__structure-left,
.description__structure-right {
  max-width: 47%;
}
.description__structure-text {
  margin-bottom: 25px;
}
.video {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video__item {
  width: 60%;
}
.footer {
  height: 65px;
  background: rgb(212, 241, 218);
  background: linear-gradient(
    90deg,
    rgba(212, 241, 218, 1) 8%,
    rgba(197, 237, 206, 1) 29%,
    rgba(223, 245, 228, 1) 72%
  );
}
.footer__wrap {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__item {
  max-width: 270px;
  width: 100%;
}
.footer__item-center {
  text-align: center;
}
.footer__item-right {
  text-align: right;
}
.footer__instagram {
  display: inline-block;
  margin-right: 20px;
}

/* popup */
.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top: -100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}
.popup__open {
  top: 0;
}
.popup__wrap {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url("../images/close.svg") no-repeat center;
}
.popup__video {
  width: 570px;
}
.popup__content {
  display: flex;
}
.popup__content-right {
  max-width: 320px;
  margin-left: 30px;
  padding-top: 30px;
}
.popup__text {
  margin-bottom: 15px;
}
.popup__text:nth-last-child(2) {
  margin-bottom: 45px;
}
.burger-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
}
.burger {
  display: none;
  width: 28px;
  height: 18px;
  position: relative;
  z-index: 9;

  /* display: none; */
}
.burger:after,
.burger:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: all 500ms ease-in-out;
}
.burger:after {
  top: 0;
}
.burger:before {
  bottom: 0;
}
.burger__line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.burger-active:after {
  top: 55%;
  transform: rotate(45deg);
}
.burger-active:before {
  bottom: 30%;
  transform: rotate(-45deg);
}
.burger-active .burger__line {
  opacity: 0;
}
.tiny-wrap,
.header__home {
  display: none;
}
@media (min-width: 2200px) {
  .main,
  .main__wrap {
    height: 40vh;
  }
  .slider-wrap,
  .slider {
    height: 60vh;
  }
}
@media (max-width: 1024px) {
  .main__content-right img {
    margin-top: 0;
  }
  .main {
    height: 625px;
  }
  .main__wrap {
    height: 40vh;
  }

  .slider-wrap,
  .slider {
    height: 54vh;
  }
  .slider__item_active .slider__content {
    left: 25px;
    width: 80%;
  }
  .description__structure-title {
    margin-bottom: 10px;
  }
  .video {
    height: auto;
    padding: 50px;
  }
  .video__item {
    width: 80%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .main {
    height: 470px;
  }
  .main__wrap {
    height: 35vh;
  }
  .description__wrap {
    flex-direction: column;
  }
  .description__left,
  .description__right,
  .description__left-title {
    max-width: 100%;
  }
  .description__left-title,
  .description__text {
    text-align: center;
  }
  .description__img {
    display: block;
    margin: 0 auto;
  }
  .description__structure {
    background-size: cover;
  }
  .description__structure-flex .description__text {
    text-align: left;
  }
  .slider__content-text {
    font-size: 14px;
    line-height: 16px;
  }
  .slider__content-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .popup__video {
    width: 460px;
    margin: 0 20px 20px;
  }
  .popup__content-right {
    margin: 0 15px 0;
  }
  .popup__text:nth-last-child(2) {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .main__content-right,
  .slider-wrap {
    display: none;
  }
  .tiny-wrap,
  .burger {
    display: block;
  }
  .main {
    height: 100vh;
    background: url("../images/main_bg-mob.png") no-repeat center;
    background-size: cover;
  }
  .header {
    flex-direction: column-reverse;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .logo {
    flex-direction: column;
  }
  .logo__sperco {
    margin-bottom: 30px;
  }
  .description__img {
    max-width: 100%;
  }
  .main__title {
    margin: 0 auto;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .main__text {
    max-width: 280px;
    text-align: center;
  }
  .main__content-left {
    margin: 0 auto;
  }
  .main__btn {
    max-width: 100%;
  }
  .tiny-wrap__img {
    display: block;
    max-width: 40px;
    margin: 25px auto;
  }
  .tiny-slider__img {
    display: block;
    max-width: 90%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
  }
  .tns-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    max-width: 130px;
    margin: 0 auto;
  }
  .tns-nav button {
    width: 16px !important;
    height: 16px !important;
    background: #c4c4c4;
    border-radius: 50%;
  }
  .tns-nav-active {
    background: #faaa00 !important;
  }
  .tiny-slider__slide {
    position: relative;
  }
  .tiny-slider__content {
    position: absolute;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 auto;
    left: 30px;
    right: 0;
    top: 0;
  }
  .slider__content-title {
    font-size: 24px;
    line-height: 28px;
  }
  .slider__content-text {
    font-style: 16px;
    line-height: 19px;
    max-width: 255px;
  }
  .slider__content-btn {
    max-width: 92%;
    margin-bottom: 15px;
  }
  .description {
    padding-top: 30px;
  }
  .description__title {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
  }
  .description__left-title {
    margin-bottom: 33px;
    position: relative;
  }
  .description__left-title::after {
    content: "";
    width: 125px;
    height: 3px;
    background: #fccc66;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .description__text {
    max-width: 90%;
    margin: 0 auto;
  }
  .description__count {
    flex-direction: column;
    background: none;
    align-items: center;
    background: #fffbf2;
    margin-bottom: 30px;
  }
  .description__count-img {
    max-width: 65%;
    min-width: 175px;
    margin-bottom: 30px;
  }
  .description .container {
    padding: 0;
  }
  .description__structure {
    background: #fffbf2;
    padding-top: 40px;
  }
  .description__structure-title {
    margin-bottom: 30px;
  }
  .description__structure-flex {
    flex-direction: column;
  }
  .description__structure-left,
  .description__structure-right {
    max-width: 100%;
  }
  .description__structure-flex .description__text {
    text-align: center;
    margin-bottom: 30px;
  }
  .description__structure-text .bold {
    display: block;
  }
  .video__item {
    width: 110%;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer {
    height: 220px;
    padding-top: 35px;
  }
  .footer__item-right {
    text-align: center;
  }
  .footer__item-center {
    margin: 10px 0 30px;
  }
  .popup__wrap {
    width: 100vw;
    height: 100vh;
  }
  .popup__content {
    flex-direction: column;
    height: 80vh;
  }
  .popup__video {
    width: 90vw;
  }
  .popup__content-right {
    margin-left: 0;
  }
  .header__right {
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: url("../images/burger.png") no-repeat center;
    background-size: cover;
    transition: all 500ms ease-in-out;
  }
  .mobile-menu_active {
    top: 0;
    display: flex;
    padding: 100px 0 0 30px;
    flex-direction: column;
    text-align: left;
  }
  .header__home {
    display: block;
  }
  .header__link {
    margin: 25px 0;
    font-size: 18px;
    line-height: 21px;
  }
  .header__link:hover {
    color: #faaa00;
  }
  .header__link-video {
    margin-left: 0;
  }
  .popup__content-right {
    margin-left: 30px;
  }
}

@media (max-width: 360px) {
  .popup__video {
    display: block;
    margin: 0 auto;
  }
  .popup__content-right {
    max-width: 280px;
  }
  .popup__scroll {
    height: 160px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .video__item {
    width: 130%;
  }
  .popup__scroll {
    margin-bottom: 15px;
  }
}
